# Proyecto de Simulación de Cola de Supermercado

## Requisitos

# Este proyecto requiere las siguientes bibliotecas de Python:

- numpy
- matplotlib

## Instalación

# Para instalar las dependencias, ejecuta el siguiente comando en la terminal:

# pip install -r requirements.txt.\env\Scripts\activate
